/build.*
das2/__pycache__
das2/*.pyc
*.png
build_*venv
dist
*.egg-info
test_*venv
wav*.cdf
ex*.cdf
das2/pycdf/libcdf.so
das2/pycdf/libcdf.dynlib
das2/pycdf/dllcdf.dll
/co_notes
/das2/pycdf/__pycache__/
session.txt
/tmp
